.cont{
    background-color: rgb(236, 169, 69);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.cont:hover{
    box-shadow: 1px 1px rgba(0, 0, 0, 0.712);
}

.cartIcon{
    width: 1.5rem;
    height: 1.5rem;
}

.button{
    padding: 5px;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: rgb(111, 172, 172);
    border-radius: 50%;
    border: 0;
    font-weight: 800;
}

.button:hover{
    background-color: rgb(91, 145, 145);
}